@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: #e1e4e7;
}


.hamburguer {
    border-top: 3px solid rgb(12, 12, 12);
    display: block;
    width: 25px;
    position: relative;
    transition: .3s ease-in;
}

.hamburguer::after,
.hamburguer::before {
    content: "";
    width: 25px;
    height: 3px;
    background-color: rgb(37, 36, 36);

    display: block;
    margin-top: 6px;
    transition: .3s ease-in;
}


.hamburguer.ativo {
    transform: rotate(90deg);
    border-top-color: transparent;
}

.hamburguer.ativo::after {
    transform: rotate(135deg);
    margin-top: -3px;
}

.hamburguer.ativo::before {
    transform: rotate(-135deg);
}